<!-- extend from "base.html" here -->
{% extends "base.html" %}
<!-- begin block content here -->
{% block content %}
<!-- Main content -->
<h1>About My First Flash Project</h1>
<style>
    p {
        text-align: justify;
    }
</style>
<div style="width: 700px;">
    <p>The Clash Finder project is an online project designed for players who are looking for potential team members for a Clash tournament or those who want to create their own team and search for suitable candidates.</p>
    <p>The main aim of this project was to learn about the Flask framework using SQLAlchemy. The project proved to be an exciting and rewarding experience, but also with time spent having fun.</p>
    <p>Creating this website was a challenge that required a lot of hard work and dedication from me. Nevertheless, it was also a passion project that allowed me to discover the endless possibilities of the Flask framework. This technology is renowned for its versatility in creating dynamic and interactive websites, and I had the pleasure of exploiting its potential to the fullest.</p>
    <p>The main goal of this website is to help gamers all over the world find the perfect partners who share the same passion and skills for games. Thanks to Flash technology, the site is not only functional but also visually appealing, providing an enjoyable experience for visitors.</p>
    <p>As the creator of this site, I am committed to continuously improving it by listening to user feedback. Therefore, if you have any suggestions or feedback, please do not hesitate to share them with me. I will be more than happy to implement any necessary changes to enhance the user experience.</p>
    <p>In conclusion, I sincerely hope that this site proves useful to players everywhere and that it provides them with the satisfaction they are looking for in their search for the perfect team to play Clash. Thank you for visiting my site and I wish you the best of luck in your gaming endeavours.</p>
</div>
<!-- end block content here -->
{% endblock %}