<!DOCTYPE html>
<html>
	<head>
		<title>{{ user.username }} account</title>
		<!-- Ustawienie kodowania znaków na UTF-8. -->
		<meta charset="utf-8">
		<!-- Ustawienie skalowania widoku dla urządzeń mobilnych. -->
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	</head>
    <body>
		<!-- Navbar -->
		<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
			<!-- logo -->
			<a class="navbar-brand">Clash Finder</a>
			<!-- Links -->
			<ul class="navbar-nav">
				<li class="nav-item">
					<a class="nav-link" href="#">Find Teammates</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Find Team</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">About</a>
				</li>
			</ul>
			<!-- Right-aligned items -->
			<ul class="navbar-nav ml-auto">
				{% if current_user.is_authenticated %}
				<li class="nav-item">
					<form method="post" action="{{ url_for('logout') }}">
						<button type="submit" class="btn btn-link nav-link">Logout</button>
					</form>
				</li>
				{% else %}
				<li class="nav-item">
					<a class="nav-link" href="{{ url_for('login') }}">Login</a>
				</li>
				{% endif %}
			</ul>
		</nav>
        <!-- searching teams bar -->
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
					<h2>Find Clash Team</h2>
					<form method="POST" action="{{ url_for('findteam') }}">
						{{ form.hidden_tag() }}
						<div class="row">
							<div class="col-md-3">
							  {{ form.profile.label(class="form-control-label") }}
							  {{ form.profile(class="form-control form-control-sm") }}
							</div>
							<div class="col-md-3">
							  {{ form.role.label(class="form-control-label") }}
							  {{ form.role(class="form-control form-control-sm") }}
							</div>
							<div class="col-md-3">
							  {{ form.division.label(class="form-control-label") }}
							  {{ form.division(class="form-control form-control-sm") }}
							</div>
							<button type="submit" class="btn btn-primary">{{ form.submit.label }}</button>
							<br>
						</div>
					</form>
					{% if flash %}
        				{% for message in flash %}
            				<span class="flash-message">{{ message }}</span>
        				{% endfor %}
    				{% endif %}
					{% with messages = get_flashed_messages() %}
						{% if messages %}
							<div class="alert alert-danger">
								{% for message in messages %}
									<p>{{ message }}</p>
								{% endfor %}
							</div>
						{% endif %}
					{% endwith %}
                    <h2>Clash Teams</h2>
						<style>
							table {
							  border-collapse: collapse;
							  font-size: 0.9em;
							  border: 1px solid #ddd;
							  margin-bottom: 10px;
							}
							
							th {
							  border: 1px solid #ddd;
							  padding: 8px;
							  text-align: left;
							}
							
							td {
							  border: 1px solid #ddd;
							  padding: 8px;
							}
							</style>							
						<!-- Lista dodanych profili -->
						<div class="clash-available-teams">
							{% if clash_teams %}
                            <table>
                                <thead>
                                    <tr>
                                        <th><strong>Lp.</strong></th>
										<th><strong>SERVER</strong></th>
                                        <th><strong>TOPLANE</strong></th>
                                        <th><strong>JUNGLE</strong></th>
                                        <th><strong>MIDLANE</strong></th>
                                        <th><strong>BOTTOM</strong></th>
                                        <th><strong>SUPPORT</strong></th>
                                        <th><strong>CLASH DATE</strong></th>
                                        <th><strong>HOST DIVISION</strong></th>
                                    </tr>
                                </thead>
								<tbody>
									{% for team in clash_teams %}
									<tr>
										<td>{{ loop.index }}</td>
										<td>{{ team.host.server or '' }}</td>
										<td>
											{% if team.toplane %}
												<a href="#{{ team.toplane }}">{{ team.toplane }}</a>
											{% else %}
												<a href="#">join</a>
											{% endif %}
										</td>
										<td>
											{% if team.jungle %}
												<a href="#{{ team.jungle }}">{{ team.jungle }}</a>
											{% else %}
												<a href="#">join</a>
											{% endif %}
										</td>
										<td>
											{% if team.midlane %}
												<a href="#{{ team.midlane }}">{{ team.midlane }}</a>
											{% else %}
												<a href="#">join</a>
											{% endif %}
										</td>
										<td>
											{% if team.adcarry %}
												<a href="#{{ team.adcarry }}">{{ team.adcarry }}</a>
											{% else %}
												<a href="#">join</a>
											{% endif %}
										</td>
										<td>
											{% if team.support %}
												<a href="#{{ team.support }}">{{ team.support }}</a>
											{% else %}
												<a href="#">join</a>
											{% endif %}
										</td>
										<td>{{ team.clash_date or '' }}</td>
										<td>{{ team.division or '' }}</td>
									</tr>
									{% endfor %}
								</tbody>
                            </table>
							{% else %}
                            <p>There are currently no teams meeting your requirements.</p>
                            {% endif %}
						</div>	
				</div>
			</div>
		</div>
	</body>
</html>
					