<!DOCTYPE html>
<html>
	<head>
		<title>Login Form</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	</head>
	<body>
		<!-- Navbar -->
		<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
			<!-- logo -->
			<a class="navbar-brand">Clash Finder</a>
			<!-- Links -->
			<ul class="navbar-nav">
				<li class="nav-item">
					<li class="nav-item">
						<a class="nav-link" href="#">Find Teammates</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Find Team</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">About</a>
					</li>
				</li>
			</ul>
		</nav>
		<!-- Login form -->
		<div class="container">
			<h2>Login Form</h2>
			<form method="POST" action="{{ url_for('login') }}">
				{{ form.hidden_tag() }}
				<div class="form-group">
					{{ form.username.label(class="form-control-label") }}
					{{ form.username(class="form-control form-control-sm") }}
				</div>
				<div class="form-group">
					{{ form.password.label(class="form-control-label") }}
					{{ form.password(class="form-control form-control-sm") }}
				</div>
				<div class="form-group form-check">
					{{ form.remember_me(class="form-check-input") }}
					{{ form.remember_me.label(class="form-check-label") }}
				</div>
				<button type="submit" class="btn btn-primary">{{ form.submit.label }}</button>
			</form>
			<p>If you don't have an account, <a href="{{ url_for('register') }}">register here</a>.</p>
		</div>
	</body>
</html>