<!-- extend from "base.html" here -->
{% extends "base.html" %}
<!-- begin block content here -->
{% block content %}
        <!-- teams info -->
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <h2>Your Clash Teams</h2>
						<style>
							table {
							  border-collapse: collapse;
							  font-size: 0.9em;
							  border: 1px solid #ddd;
							  margin-bottom: 10px;
							}
							
							th {
							  border: 1px solid #ddd;
							  padding: 8px;
							  text-align: left;
							}
							
							td {
							  border: 1px solid #ddd;
							  padding: 8px;
							}
							</style>							
						<!-- Lista dodanych profili -->
						<div class="teams-info">
							{% if your_clash_teams %}
                            <table>
                                <thead>
                                    <tr>
                                        <th><strong>Lp.</strong></th>
										<th><strong>Server</strong></th>
                                        <th><strong>TOPLANE</strong></th>
                                        <th><strong>JUNGLE</strong></th>
                                        <th><strong>MIDLANE</strong></th>
                                        <th><strong>BOTTOM</strong></th>
                                        <th><strong>SUPPORT</strong></th>
                                        <th><strong>CLASH DATE</strong></th>
                                        <th><strong>HOST DIVISION</strong></th>
                                    </tr>
                                </thead>
								<tbody>
									{% for team in your_clash_teams %}
									<tr>
										<td>{{ loop.index }}</td>
										<td>{{ team.host.server }}</td>
										<td>
											{% if team.toplane %}
												<a href="#{{ team.toplane }}">{{ team.toplane }}</a>
											{% else %}
												<a href="#">join</a>
											{% endif %}
										</td>
										<td>
											{% if team.jungle %}
												<a href="#{{ team.jungle }}">{{ team.jungle }}</a>
											{% else %}
												<a href="#">join</a>
											{% endif %}
										</td>
										<td>
											{% if team.midlane %}
												<a href="#{{ team.midlane }}">{{ team.midlane }}</a>
											{% else %}
												<a href="#">join</a>
											{% endif %}
										</td>
										<td>
											{% if team.adcarry %}
												<a href="#{{ team.adcarry }}">{{ team.adcarry }}</a>
											{% else %}
												<a href="#">join</a>
											{% endif %}
										</td>
										<td>
											{% if team.support %}
												<a href="#{{ team.support }}">{{ team.support }}</a>
											{% else %}
												<a href="#">join</a>
											{% endif %}
										</td>
										<td>{{ team.clash_date or '' }}</td>
										<td>{{ team.division or '' }}</td>
									</tr>
									{% endfor %}
								</tbody>
                            </table>
                            {% else %}
                            <p>Currently  you do not belong to any Clash Team.</p>
                            {% endif %}
						</div>	
                        <!-- Przycisk do strony z wyszukiwaniem druzyn -->
						<a href="{{ url_for('findteam') }}" class="btn btn-primary btn-lg">Find Team</a>
					<br>
					<h2>Create your Clash Team</h2>
					{% if flash %}
        				{% for message in flash %}
            				<span class="flash-message">{{ message }}</span>
        				{% endfor %}
    				{% endif %}
					{% with messages = get_flashed_messages() %}
						{% if messages %}
							<div class="alert alert-danger">
								{% for message in messages %}
									<p>{{ message }}</p>
								{% endfor %}
							</div>
						{% endif %}
					{% endwith %}
					<form method="POST" action="{{ url_for('createteam', username=user.username) }}">
						{{ form.hidden_tag() }}
						<div class="form-group">
							{{ form.profile.label(class="form-control-label") }}
							{{ form.profile(class="form-control form-control-sm") }}
						</div>
						<div class="form-group">
							{{ form.role.label(class="form-control-label") }}
							{{ form.role(class="form-control form-control-sm") }}
						</div>
						<div class="form-group">
							{{ form.month.label(class="form-control-label") }}
							{{ form.month(class="form-control form-control-sm") }}
                            {{ form.day.label(class="form-control-label") }}
							{{ form.day(class="form-control form-control-sm") }}
                        </div>
						<button type="submit" class="btn btn-primary">{{ form.submit.label }}</button>
					</form>
				</div>
			</div>
		</div>
<!-- end block content here -->
{% endblock %}		